/* public/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgb(217, 158, 158) !important;
  background-color: #222;
}
.modal-content {
  background-color: #444; /* Dark background for the modal */
  color: #fff; /* White text for contrast */
}

.modal-header,
.modal-footer {
  border-color: #454d55;   background-color: #444; }

.modal-body {
  background-color: #444; ; /* Ensure consistent background color */
}
