<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-600 text-gray-900">
    <%- include('../partials/Logo.ejs') %>

    <div class="flex">
      <%- include('../partials/SideBar.ejs') %>
      <main class="flex-1 p-4 mt-40 sm:ml-96">
        <div class="flex justify-center sm:justify-end items-center">
          <h2 class="text-xl bg-slate-100 p-2 rounded-md font-semibold mb-4">
            All Games Categories
          </h2>
        </div>

        <div class="flex justify-center w-[98%] gap-12 mx-auto flex-wrap my-12">
          <a
            href="games/model_one"
            class="flex flex-col w-[100%] sm:w-[500px] bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100"
          >
            <img
              class="object-cover w-full rounded-t-lg md:h-auto md:rounded-none md:rounded-l-lg"
              src="https://content.artofmanliness.com/uploads/2020/07/Pencil-Paper-Games-Header-BLANK.jpg"
              alt=""
            />
            <div class="flex flex-col justify-center p-2 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                النموزج الاول بالعداد الزمني
              </h5>
            </div>
          </a>
          <a
            href="games/model_two"
            class="flex flex-col w-[100%] sm:w-[500px] bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100"
          >
            <img
              class="object-cover w-full rounded-t-lg md:h-auto md:rounded-none md:rounded-l-lg"
              src="https://content.artofmanliness.com/uploads/2020/07/Pencil-Paper-Games-Header-BLANK.jpg"
              alt=""
            />
            <div class="flex flex-col justify-center p-2 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                النموزج الثاني الاسئله فقط
              </h5>
            </div>
          </a>
          <a
            href="games/model_three"
            class="flex flex-col w-[100%] sm:w-[500px] bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100"
          >
            <img
              class="object-cover w-full rounded-t-lg md:h-auto md:rounded-none md:rounded-l-lg"
              src="https://content.artofmanliness.com/uploads/2020/07/Pencil-Paper-Games-Header-BLANK.jpg"
              alt=""
            />
            <div class="flex flex-col justify-center p-2 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                النموزج الثالث الاسئله والاجوبه
              </h5>
            </div>
          </a>
          <a
          href="games/model_four"
          class="flex flex-col w-[100%] sm:w-[500px] bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100"
        >
          <img
            class="object-cover w-full rounded-t-lg md:h-auto md:rounded-none md:rounded-l-lg"
            src="https://content.artofmanliness.com/uploads/2020/07/Pencil-Paper-Games-Header-BLANK.jpg"
            alt=""
          />
          <div class="flex flex-col justify-center p-2 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              النموزج الرابع الاسئله واختيارات متعدده
            </h5>
          </div>
        </a>
        </div>
      </main>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
