<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hello hani</h1>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
      facilis suscipit molestias, ipsa expedita reprehenderit, sequi praesentium
      voluptas amet, eos doloribus ea harum tempore perferendis voluptatibus
      illo ad rerum iusto!
    </div>
  </body>
</html>
