<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200 text-gray-900">
    <%- include('../partials/Logo.ejs') %>
    <%- include('../partials//Loader.ejs') %>
    <div class="flex">
      <%- include('../partials/SideBar.ejs') %>
      <main class="flex-1 p-4 ml-16 mt-40 sm:ml-96">
        <div class=" ">sdfsdsd</div>
      </main>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
